{% extends "base.html" %}
{% block app_content %}
    {% for post in posts %}
      <tbody>
        <tr>
          <th scope="row">x</th>
          <td scope="col"><a href="/">x</a></td>
          <td scope="col">By x on x</td>
          <td scope="col">
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary">
                <input type="radio" autocomplete="off"> Like
              </label>
              <label class="btn btn-secondary">
                <input type="radio" autocomplete="off"> Dislike
              </label>
            </div>
          </td>
          <td scope="col"><button type="button" class="btn btn-danger">Delete</button></td>
          
        </tr>
      </tbody>
    {% endfor %}
{% endblock %}