{% extends "base.html" %}
{% block app_content %}
    {% for post in posts %}
      <tbody>
        <tr>
          <th scope="row">{{ post[0] }}</th>
          <td scope="col"><a href="{{ post[1] }}">{{ post[2] }}</a></td>
          <td scope="col">By {{ post[3] }} on {{ post[4] }}</td>
          <td scope="col">
            <div data-toggle="buttons">
              <td scope="col">
                <form action="/like/{{ post[5] }}" method="post"><input type="submit" value="Like">
                  <input type="hidden" name="email" value="{{ session.userinfo.email }}">
                  <input type="hidden" name="url" value="{{ post[1] }}">
                  <input type="hidden" name="title" value="{{ post[2] }}">
                  <input type="hidden" name="by" value="{{ post[3] }}">
                  <input type="hidden" name="time" value="{{ post[4] }}">
                </form>
              </td>
              <td scope="col">
                <form action="/dislike/{{ post[5] }}" method="post"><input type="submit" value="Dislike">
                  <input type="hidden" name="email" value="{{ session.userinfo.email }}">
                  <input type="hidden" name="url" value="{{ post[1] }}">
                  <input type="hidden" name="title" value="{{ post[2] }}">
                  <input type="hidden" name="by" value="{{ post[3] }}">
                  <input type="hidden" name="time" value="{{ post[4] }}">
                </form>
              </td>
            </div>
          </td>
        </tr>
      </tbody>
    {% endfor %}
{% endblock %}