{% extends "base.html" %}
{% block app_content %}
    {% for post in posts %}
      <tbody>
        <tr>
          <th scope="row">{{ post[0] }}</th>
          <td scope="col"><a href="{{ post[1] }}">{{ post[2] }}</a></td>
          <td scope="col">By {{ post[3] }} on {{ post[4] }}</td>
          <td scope="col">
            <div data-toggle="buttons">
              <form action="/like" method="post">
                <input type="hidden" name="articleId" value="{{ post[5] }}">
                <input type="hidden" name="url" value="{{ post[1] }}">
                <input type="hidden" name="title" value="{{ post[2] }}">
                <input type="hidden" name="author" value="{{ post[3] }}">
                <input type="submit" value="Like">
              </form>
              <form action="/dislike" method="post">
                <input type="hidden" name="articleId" value="{{ post[5] }}">
                <input type="hidden" name="url" value="{{ post[1] }}">
                <input type="hidden" name="title" value="{{ post[2] }}">
                <input type="hidden" name="author" value="{{ post[3] }}">
                <input type="submit" value="Dislike">
              </form>
            </div>
          </td>
        </tr>
      </tbody>
    {% endfor %}
{% endblock %}